header
	nav.BarraMenu
		//- MENU MOVIL
		a(href="./login.html", class="Titulo-boton Titulo-boton--left center-texto")
			i.icon-user
		h1.Titulo-logo Hotel Mia
			//- a(href="#")
			//- 	img(src="#", alt="#")
		input(type="checkbox", name="toggle", id="toggle")
		label(for="toggle").Titulo-boton
			span
		//- MENU DESKTOP
		.BarraMenu-menu
			ul.Menu
				li.Menu-item
					a(href="#") Habitaciones
				li.Menu-item
					a(href="#") Ambientes
				li.Menu-item
					a(href="#") Tarifas
				li.Menu-item
					a(href="#") Reservaciones
				li.Menu-item
					a(href="#") Contacto