#Slider
	nav.Slider-navegacion
		span.Slider-navegacion-izquierda
			i.icon-left-open
		span.Slider-navegacion-derecha
			i.icon-right-open
	section.Slider-item
		img(src="./public/img/slide1.jpg", alt="", class="Slider-imagen")
		.Slider-informacion
			h2.Slider-titulo.centrar-texto Bienvenidos al Hotel Mia
			p.Slider-descripcion.centrar-texto ¡Tu placer es nuestro compromiso!
			bottom.Slider-boton Reserva Ya!