section#Contacto
	.ed-container
		.ed-item
			h2.ed-item.total.Seccion-titulo Contacto
				hr.linea-titulo
		div.Contacto-ubicacion
		.ed-item
			div.ed-container.Contacto-informacion 
				.ed-item.movil-100.tablet-1-3.web-1-3.Contacto-informacion-direccion
					i.icon-location 
					span Av. Los Privilegios N° 6213
				.ed-item.movil-100.tablet-1-3.web-1-3.Contacto-informacion-telefono
					i.icon-phone
					span 945921242
				.ed-item.movil-100.tablet-1-3.web-1-3.Contacto-informacion-email
					i.icon-mail-alt
					span hola@hotelmia.com
		.ed-item.movil-100.Contacto-formulario.no-padding
			form(action="")
				.ed-container
					.ed-item.movil-100.tablet-1-3.web-1-3
						input(type="text", name="nombre", placeholder="Nombre", class="Formulario-texto")
					.ed-item.movil-100.tablet-1-3.web-1-3
						input(type="text", name="email", placeholder="Email", class="Formulario-texto")
					.ed-item.movil-100.tablet-1-3.web-1-3
						input(type="text", name="asunto", placeholder="Asunto", class="Formulario-texto")
					.ed-item.movil-100.tablet-100.web-100
						textarea(name="mensaje", cols="30", rows="10", placeholder="Mensaje", class="Formulario-texto")
					.ed-item.movil-100.tablet-100.web-100
						button.ed-item.Formulario-boton Enviar