<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Hotel Mia
	link(rel="stylesheet", href="./public/css/estilos.css")
body
	include ./FrontEnd/header/template.jade
	main
		include ./FrontEnd/slider/template.jade
		include ./FrontEnd/habitacion/template.jade
		include ./FrontEnd/ambiente/template.jade
		include ./FrontEnd/contacto/template.jade
	include ./FrontEnd/footer/template.jade