footer#Footer
	.ed-container
		p.Footer-informacion.centrar-texto &copy Derechos Resevados
		.Footer-redesSociales
			ul
				li.Redes-item
					a(href="")
						i.icon-facebook
				li.Redes-item
					a(href="")
						i.icon-twitter
				li.Redes-item
					a(href="")
						i.icon-youtube
				li.Redes-item
					a(href="")
						i.icon-instagram