section#Ambiente
	.ed-container
		.ed-item
			h2.ed-item.total.Seccion-titulo Ambientes
				hr.linea-titulo
		.ed-item
			.Ambiente-contenedor
				-for (var i = 1; i<=12; i++)
					.Ambiente-item
						img(src="./public/img/habitacion-simple.jpg",alt="")
						.description.centrar-texto
							h3 Title Imagen
							hr
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit.